<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block page_title 'Symfony Core' %}</title>

        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('dist/css/theme.css') }}" type="text/css">
        {% endblock %}

        {% block page_styles '' %}
    </head>
    <body class="{% block body_class '' %}">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="symfony" viewBox="0 0 94.5 94.5">
                <title>Symfony</title>
                <path d="M50.11,2.36A47.25,47.25,0,1,0,97.36,49.61,47.24,47.24,0,0,0,50.11,2.36ZM75.6,29.71a3.36,3.36,0,0,1-3.11-5.33c.49-.95.59-1.06.58-1.48,0-1.25-1.93-1.3-2.45-1.27-7.09.23-9,9.8-10.48,17.59l-.74,4.1c4.08.6,7-.14,8.6-1.18,2.28-1.48-.64-3-.27-4.68a3.34,3.34,0,0,1,3.17-2.58c1.74,0,3,1.76,2.93,3.58-.06,3-4.06,7.17-12.07,7-1,0-1.87-.09-2.71-.19l-1.51,8.34C56.19,59.92,54.39,68.55,48,76.08c-5.52,6.56-11.13,7.58-13.64,7.67-4.7.16-7.81-2.35-7.92-5.69A5,5,0,0,1,31,73a4,4,0,0,1,4.31,3.82,2.53,2.53,0,0,1-1.48,2.66c-.4.33-1,.66-1,1.39a1.22,1.22,0,0,0,1.4,1,7.38,7.38,0,0,0,4.22-1.71c4.58-3.81,6.34-10.45,8.64-22.54l.49-2.93a129.52,129.52,0,0,1,3-12.69c-3.22-2.43-5.15-5.44-9.49-6.62-3-.8-4.79-.12-6.06,1.49a4.39,4.39,0,0,0,.45,5.85l2.41,2.67c3,3.41,4.56,6.06,4,9.64-1,5.7-7.76,10.07-15.79,7.6-6.86-2.11-8.14-7-7.32-9.64.73-2.35,2.6-2.8,4.43-2.24s2.72,3,2.16,4.82a6.75,6.75,0,0,1-.37,1,12.92,12.92,0,0,0-.82,1.53c-.45,1.44,1.52,2.46,2.89,2.88a5.36,5.36,0,0,0,6.82-3.15,4.41,4.41,0,0,0-1.33-4.48L29.62,50.2C28.29,48.72,25.37,44.6,26.8,40A9.88,9.88,0,0,1,30.18,35a12.22,12.22,0,0,1,11.08-2c4.75,1.37,7,4.51,10,6.94a41,41,0,0,1,7.41-13.64C61.78,22.66,66,20,70.77,19.84s8.42,2,8.54,5.46C79.36,26.76,78.52,29.61,75.6,29.71Z" transform="translate(-2.86 -2.36)"/>
            </symbol>
            <symbol id="bootstrap" viewBox="0 0 118 94">
                <title>Bootstrap</title>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
            </symbol>
            <symbol id="home" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
            </symbol>
            <symbol id="speedometer2" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
            </symbol>
            <symbol id="table" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
            </symbol>
            <symbol id="people-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </symbol>
            <symbol id="grid" viewBox="0 0 16 16">
                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
            </symbol>
        </svg>

        <header>
            <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <a href="{{ safe_url('home') ?: '#' }}" class="navbar-brand h3 d-flex align-items-center mb-0">
                        <svg class="bi me-2" style="fill: white;" width="40" height="32"><use xlink:href="#symfony"></use></svg>
                        <span class="fs-4">Symfony Core</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse justify-content-end" id="mainNav">
                        <ul class="navbar-nav my-2 my-lg-0">
                            <li class="nav-item"><a href="{{ safe_url('blog') ?: '#' }}" class="nav-link {{ menu_active|default and menu_active == 'blog' ? 'active' : '' }}">Blog</a></li>
                            <li class="nav-item"><a href="{{ safe_url('contact_index') ?: '#' }}" class="nav-link">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block content '' %}
        </main>

        {% block javascripts %}
            <script src="{{ asset('dist/js/theme.js') }}"></script>
        {% endblock %}

        {% block page_scripts '' %}
    </body>
</html>
