{% extends "base.html.twig" %}

{% set menu_active = 'blog' %}

{% block content %}
<header class="container py-3 py-lg-4">
    <h1 class="d-flex justify-content-between align-items-center">
        <span>Create new post</span>
        <a href="{{ safe_url('blog') }}" class="btn btn-link">Back</a>
    </h1>
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ safe_url('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ safe_url('blog') }}">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create post</li>
        </ol>
      </nav>
</header>

<section class="container">
    <form method="post" class="row g-5">
        <div class="col-md-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="Post title">
                <label for="floatingInput">Post title</label>
            </div>
            <div class="form-floating mb-3">
                <textarea style="min-height: 15rem" class="form-control form-control-lg" placeholder="Post content ..."></textarea>
                <label for="floatingInput">Post content</label>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Cover image</label>
                <input class="form-control" type="file" id="formFile">
              </div>
        </div>
        <div class="col-md-4">
            <h5>SEO</h5>
            <div class="mb-3">
                <input type="text" class="form-control form-control-sm" placeholder="Post slug">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control form-control-sm" placeholder="Custom meta title">
            </div>
            <div class="mb-3">
                <textarea class="form-control form-control-sm" placeholder="Custom meta description" style="resize: none;"></textarea>
            </div>

            <h5>Categories</h5>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="flexCheckDefault_0" checked disabled>
                    <label class="form-check-label" for="flexCheckDefault_0">Uncategorized</label>
                </div>
                {% for i in 1..5 %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="flexCheckDefault_{{i}}">
                    <label class="form-check-label" for="flexCheckDefault_{{i}}">Category {{i}}</label>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary">Save draft</button>
                <button type="button" class="btn btn-success btn-lg">Create post</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}
